---
import LanguageSwitcher from "@/components/LanguageSwitcher.astro";

---

<header class="">
    <div class="bg-black p-2 flex justify-end">
        <LanguageSwitcher />
    </div>
    <div></div>
</header>
