---
import Logo from "@/assets/images/Logo-Tu-Web-Accesible-white.svg";
import MadeInEurope from "@/assets/images/made-in-europe.svg";
import Sello from "@/assets/images/sello-accesibilidad.webp";
import iso9001 from "@/assets/images/iso-9001-tuwebaccesible.png";
---

<footer class="bg-black text-white footer-fade-in">
    <div class="flex flex-col gap-9">
        <div class="space-y-8">
            <img
                src={Logo.src}
                alt="Logo de Tu Web Accesible"
                class="w-[127px] h-[117px]"
            />
            <img
                src={MadeInEurope.src}
                alt="Made in Europe"
                class="w-[173px] h-[77px] self-end md:self-center"
            />
        </div>
        <div>
            <h2>MAPA WEB</h2>
            <ul>
                <li><a href="#">Consultoría</a></li>
                <li><a href="#">Auditoría - Web</a></li>
                <li><a href="#">We All Web</a></li>
                <li><a href="#">Administración pública</a></li>
                <li><a href="#">Accesiblidad para Agencias</a></li>
                <li><a href="#">Accesiblidad web</a></li>
                <li><a href="#">Diseño web</a></li>
                <li><a href="#">Kit Digital</a></li>
            </ul>
        </div>
        <div>
            <h2>CONTACTO</h2>
            <p>
                Contacta con nuestro equipo de Accesibilidad Web para obtener la
                información completa y personalizada que necesitas.
            </p>
        </div>
        <div>
            <p class="font-bold">Email: hola@tuwebaccesible.com</p>
            <p>TEL.: 689 681 486</p>
            <p>TEL.: 910 917 377</p>
        </div>
        <div class="space-y-4">
            <h2>REDES SOCIALES</h2>
            <p>Acompánanos en las redes</p>
            <ul class="uppercase space-y-4">
                <li class="social-media-footer">
                    <a href="#">Facebook</a>
                </li>
                <li class="social-media-footer">
                    <a href="#">LinkedIn</a>
                </li>
                <li class="social-media-footer">
                    <a href="#">Spotify</a>
                </li>
                <li class="social-media-footer">
                    <a href="#">Instagram</a>
                </li>
            </ul>
        </div>
        <div class="flex flex-row space-x-4">
            <img src={Sello.src} alt="Sello de Accesibilidad" />
            <img src={iso9001.src} alt="ISO 9001" />
        </div>
    </div>
    <div class="w-full bg-white text-black space-y-4">
        <div class="space-y-4">
            <p>Aviso legal</p>
            <p>Política de cookies</p>
            <p>Política de privacidad</p>
            <p>Declaración de Accesibilidad</p>
        </div>
        <hr />
        <p>
            Tu Web Accesible es una marca de <a href="#">Taller Agencia</a>
        </p>
    </div>
</footer>
